.navbar {
    display: flex;
    align-items: center;
    padding: 13px;

    .logo {
        padding-left: 40px;
        width: 80%;
    }

    .menu {
        display: flex;
        gap: 39px;
        font-size: 24px;
        margin-left: auto;
        padding-top: 30px;
        padding-right: 70px;

        a {
            color: var(--pri-color);
            font-weight: 750;
        }
    }

    .btn{
        margin-top: -5px;
        a{
            color: #fff;
        }
    }

}

// button
.btn {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--sec-color);
    background: var(--accent-brown);
    padding: 12px 25px;
    border-radius: 4px;
    display: inline-block;
    font-weight: 750;

}

.kids {

    .btn {
        background-color: var(--accent-red);
    }
}



// home hero section
.hero {
    margin-top: 50px;
    height: 100vh;



    .hero-content {
        display: flex;
        justify-content: center;
        position: relative;
        background-color: var(--pri-color);
        max-width: 1280px;
        margin: 0 auto;

        .pattern {
            width: 100%;
            height: 100%;

        }
    }

    .content-inner {
        display: flex;
        justify-content: center;
        color: var(--bg-color);
        position: absolute;
        gap: 30px;
        top: 361px;
        left: 170px;
        width: 100%;

        .infor {
            text-align: start;
            width: 480px;
            margin-left: -40px;
        }

        h1 {
            font-size: 48px;
            line-height: 55px;

            span {
                position: relative;

                &::after {
                    content: '';
                    width: 260px;
                    background-color: var(--accent-brown);
                    position: absolute;
                    height: 10px;
                    display: inline-block;
                    display: flex;
                    margin-top: -20px;
                }


            }
        }



        p {
            padding-top: 10px;
            padding-bottom: 15px;
            font-size: 23px;
            line-height: 30px;

        }
    }

    .image-container {
        display: flex;
        gap: 10px;
        margin-top: -70px;
        position: relative;
        left: 90px;

        img {
            height: 50%;
        }
    }
}

// home about section
.about {
    .about-inner {
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 300px;

        h2 {
            margin-top: -15px;
        }
    }

    .content {
        text-align: start;
    }

    p {
        padding-bottom: 41px;
        width: 530px;
    }

    .images {
        margin-top: 80px;
        display: flex;
        object-fit: contain;
        justify-content: center;
        gap: 15px;

        img {
            width: 24%;
            max-width: 20vw;
        }
    }
}

// home product section
.products {
    margin-top: 171px;
    background-color: var(--accent-cream);
    position: relative;
    width: 100vw;
    padding-bottom: 100px;


    h2 {
        color: #fff;
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .prod-imgBox {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-bottom: 50px;

        .img-card {
            width: 20%;
            object-fit: contain;
            position: relative;

            img {
                width: 100%;
            }

            .prod-textBox {
                position: absolute;
                background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
                width: 287px;
                height: 45px;
                border-radius: 5px;
                bottom: -5px;
                color: var(--bg-color);

                h3 {
                    font-size: 30px;
                    text-transform: capitalize;
                    text-align: start;
                    padding-left: 20px;
                    font-weight: 700;
                }
            }
        }

    }

}

// home tour section
.tour-don {
    display: flex;
    align-items: center;
    padding: 150px;
    justify-content: center;
    gap: 100px;

    .content {
        text-align: start;

        p {
            padding-bottom: 15px;
        }
    }

    .img-container {
        width: 130%;
        object-fit: contain;

        img {
            width: 100%;
        }
    }


}


// home donations section
.donation {
    background-color: var(--accent-cream);

    .ptext {
        width: 410px;
    }
}


//  home kidscorner section
.kids {
    margin-top: 194px;

    .kids-content {
        display: flex;
        justify-content: center;
        position: absolute;
        background-color: var(--pri-color);
        max-width: 1280px;
        margin: 0 auto;
        left: 0;
        right: 0;
        border-radius: 7px;

        .pattern {
            width: 100%;
            height: 100%;

        }
    }

    .kids-inner {
        position: relative;

    }

    .img-container {
        width: 100%;

        img {
            width: 100%;
        }

        .one {
            width: 36%;
            margin-left: 30px;
        }

        .two {
            width: 14.5%;
            position: relative;
            left: 58px;
            top: 50.1px;

        }

        .three {
            width: 9.5%;
            position: relative;
            left: 677px;
            bottom: 95px;

        }

        .four {

            width: 55.5%;
            position: absolute;
            top: -74px;
            left: 40px;

        }
    }

    .content {
        position: absolute;
        top: 190px;
        left: 761px;
        color: var(--bg-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // align-items: center;


        h2 {
            font-family: '3dumb';
            font-size: 90px;
        }

        p {
            padding-bottom: 10px;
            width: 360px;
        }
    }
}

.recipes{
    position: relative;
    color: var(--pri-color);
    margin-bottom: 100px;
    h1{
        font-weight: 800;
        margin-top: 50px;
    }

    .bloc-tabs{
        margin-top: 60px;
        display: flex;
        justify-content: center;
        gap: 60px;
        border-bottom: 1px solid #261B6C;
        h2{
           font-weight: 700; 
           color: #261b6c5a;
        }

        .active-tabs{

            border-bottom: 2px solid var(--pri-color);
        }

    //    .active-tabs::before{
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     top: -5px;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     width: calc(100% + 2px);
    //     height: 5px;
    //    } 
    }

    .content-tabs{
        display: flex;
        justify-content: center;
        align-items: center;
     

    }

    .content{
        display: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: start;
        gap: 50px;
       
       

       

        h2{
            padding-top: 30px;
            font-weight: 800;
        }
    }

    .card{
        
        margin-top: 50px;
        border: none;
        width: 20%;
        font-weight: 800;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
border-radius: 5px;
    }

    .card-infor{
        display: flex;
        gap: 20px;

       &:last-child{
        color: #C6A460;
       }
        
    }

   
  

    

    .active-content {
        display: block;
    }
}

// home notification section
.notification {
    background-color: var(--accent-brown);
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 7px;
    height: 45%;

    .notify-content {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        bottom: 0;

        .infor {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;
            position: relative;
            left: 40px;
        }

        h2 {
            text-align: start;
        }

        form {
            text-align: center;

            input {
                border: none;
                font-weight: 800;
            }

            .email {
                position: absolute;
                padding: 18px;
                width: 400px;
                background: #C6A460;
                // border: none;
                font-size: 18px;
                // font-weight: 800;
            }

            .submit {
                text-align: center;
                position: relative;
                left: 255px;
                top: 10px;
                font-size: 20px;
                width: 129px;
                // font-weight: 800;
                // border: none;
                background-color: #261B6C;
                padding: 5px;
            }
        }
    }

    .image-container {
        display: flex;
        gap: 10px;
        justify-content: center;
        width: 100%;
        object-fit: contain;


        img {
            width: 23%;
        }

    }

}


// footer
.footer {
    margin-top: 100px;
    background-color: var(--pri-color);
    color: var(--bg-color);
    padding-top: 10px;
   

    .bakers-logo {
        position: relative;
        top: 7px;

        img {
            width: 8%;
        }
    }


    .line {
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        gap: 150px;
        justify-content: center;

        div {
            display: block;
            border-bottom: 2px solid #fff;
            width: 510px;
        }
    }

    .footer-content {
        text-align: start;
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 50px;
        padding-bottom: 50px;
        

        .instagram-content {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;

            .image {
                display: flex;
                gap: 10px;
                width: 20%;

                img {
                    width: 100%;
                }
            }
        }

        .getin-touch {
            .content {
                display: flex;
                gap: 10px;

                img {
                    
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    h3 {
        font-size: 25px;
        font-weight: 800;
        padding-bottom: 10px;
    }

    .footer-inner{
        padding-top: 50px;
        padding-bottom: 20px;
        border-top: 2px solid #fff;
        width: 81%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 400px;

        .inner-con{
            display: flex;
            align-items: end;
            gap: 5px;

            
            img{
                width: 30%;
                position: relative;
                top: -18px;
                left: 2px;
            }
        }

        .copyright{
            span{
                color: #C6A460;
                font-weight: 750;
            }
        }
    }

}


// ABOUT SECTION
// about hero section
.about-hero{
    margin-top: 50px;

    .image{
        max-width: 1280px;
        margin: 0 auto;
        position: relative;
        right: 0;
        left: 0;
        
        img{
            width: 100%;
        }

        .text{
            position: absolute;
            bottom: 10px;
            background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
            width: 100%;
            height: 134px;
            border-radius: 5px;
            bottom: -5px;
            color: var(--bg-color);

            h2{
                text-align: start;
                padding-top: 40px;
                padding-left: 40px;
                font-size: 52px;
            }
        }
    }
}

// about about section
#about-about{
    background-color: #F7F5E8;
    max-width: 1280px;
    margin: 0 auto;
   

    .about-about{
        margin-top: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
    }

    .mission{
        color: var(--pri-color);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 95px;
        text-align: start;
        gap: 46px;

       

      
        
        .image{
            background-color: var(--accent-brown);
            border-radius: 50%;
            padding: 20px;
            text-align: center;
            

            img{
                width: 100%;
            }
        }
    }

    .one{
        padding:25px ;
    }
}

// aboutservices section
#about-services{
    background-color: var(--accent-cream);
    margin-top: 180px;

    .about-services{
        padding-bottom: 100px;
        padding-top: 80px;
     max-width: 1280px;
     margin: 0 auto;
     color: var(--pri-color);
     text-align: center;
    }

    h3{
        padding-top: 30px;
        font-weight: 800;
    }

    .about-inner{
        display: flex;
        padding-top: 50px;
        justify-content: center;
        align-items: start;
        gap: 40px;
         p{
            width: 270px;
         }
        img{
            width: 400px;
        }
    }

    .about-innertwo{
        padding-top: 50px;
        display: flex;
        justify-content: center;
        gap: 40px;
    
        p{
            width: 285px;
        }

        img{
            width: 400px;
        }

    }

    .about-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

// about ceo
#ceo-info{
    margin-top: 80px;

    .ceo-info{
        color: var(--pri-color);
        display:flex;
        max-width: 1280px;
        margin: 0 auto;
        text-align: start;
        justify-content: center;
        align-items: center;
        gap: 60px;

        .image{
            img{
                width: 600px;
            }
        }
    }
}

  




  


