.navbar {
    display: flex;
    align-items: center;
    padding: 13px;

    .logo {
        padding-left: 40px;
        width: 80%;
    }

    .menu {
        display: flex;
        gap: 39px;
        font-size: 24px;
        margin-left: auto;
        padding-top: 30px;
        padding-right: 70px;

        a {
            color: #261b6c63;
            font-weight: 750;
        }
        .active{
            color: var(--pri-color);
        }

        .btn {
            margin-top: -5px;
            color: #fff;

        }
    }



}



// button
.btn {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--sec-color);
    background: var(--accent-brown);
    padding: 12px 25px;
    border-radius: 4px;
    display: inline-block;
    font-weight: 750;

}

.kids {

    .btn {
        background-color: var(--accent-red);
    }
}



// home hero section
.hero {
    margin-top: 50px;
    height: 100vh;



    .hero-content {
        display: flex;
        justify-content: center;
        position: relative;
        background-color: var(--pri-color);
        max-width: 1280px;
        margin: 0 auto;
        border-radius: 7px;

        .pattern {
            width: 100%;
            height: 100%;

        }
    }

    .content-inner {
        display: flex;
        justify-content: center;
        color: var(--bg-color);
        position: absolute;
        gap: 30px;
        top: 361px;
        left: 170px;
        width: 100%;

        .infor {
            text-align: start;
            width: 480px;
            margin-left: -40px;

            .one {
                display: block;
                height: 9px;
                width: 265px;
                background: #C6A460;
                position: absolute;
                top: 153px;
            }

            .two {
                display: block;
                height: 9px;
                width: 235px;
                background: #C6A460;
                position: absolute;
                top: 93px;
            }
        }

        .heading {
            position: relative;

            p {
                font-size: 48px;
                font-weight: 700;
                line-height: 20px;

            }

        }





        p {
            padding-top: 10px;
            padding-bottom: 15px;
            font-size: 23px;
            line-height: 30px;

        }
    }

    .image-container {
        display: flex;
        gap: 10px;
        margin-top: -70px;
        position: relative;
        left: 90px;

        img {
            height: 50%;
        }
    }
}

// home about section
.about {
    .about-inner {
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 300px;

        h2 {
            margin-top: -15px;
        }
    }

    .content {
        text-align: start;
    }

    p {
        padding-bottom: 41px;
        width: 530px;
    }

    .images {
        margin-top: 80px;
        display: flex;
        object-fit: contain;
        justify-content: center;
        gap: 15px;

        img {
            width: 24%;
            max-width: 20vw;
        }
    }
}

// home product section
.products {
    margin-top: 171px;
    background-color: var(--accent-cream);
    position: relative;
    width: 100vw;
    padding-bottom: 100px;


    h2 {
        color: #fff;
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .prod-imgBox {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-bottom: 50px;

        .img-card {
            width: 20%;
            object-fit: contain;
            position: relative;

            img {
                width: 100%;
            }

            .prod-textBox {
                position: absolute;
                background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
                width: 287px;
                height: 45px;
                border-radius: 5px;
                bottom: -5px;
                color: var(--bg-color);

                h3 {
                    font-size: 30px;
                    text-transform: capitalize;
                    text-align: start;
                    padding-left: 20px;
                    font-weight: 700;
                }
            }
        }

    }

}

// home tour section
.tour-don {
    display: flex;
    align-items: center;
    padding: 150px;
    justify-content: center;
    gap: 100px;

    .content {
        width: 100%;
        text-align: start;

        p {
            padding-bottom: 15px;
        }
    }

    .img-container {
        width: 100%;
        object-fit: contain;

        img {
            width: 100%;
        }
    }


}


// home donations section
.donation {
    background-color: var(--accent-cream);

    .ptext {
        width: 410px;
    }
}


//  home kidscorner section
.kids {
    margin-top: 194px;

    .kids-content {
        display: flex;
        justify-content: center;
        position: absolute;
        background-color: var(--pri-color);
        max-width: 1280px;
        margin: 0 auto;
        left: 0;
        right: 0;
        border-radius: 7px;

        .pattern {
            width: 100%;
            height: 100%;

        }
    }

    .kids-inner {
        position: relative;

    }

    .img-container {
        width: 100%;

        img {
            width: 100%;
        }

        .one {
            width: 36%;
            margin-left: 30px;
        }

        .two {
            width: 14.5%;
            position: relative;
            left: 58px;
            top: 50.1px;

        }

        .three {
            width: 9.5%;
            position: relative;
            left: 677px;
            bottom: 95px;

        }

        .four {

            width: 55.5%;
            position: absolute;
            top: -74px;
            left: 40px;

        }
    }

    .content {
        position: absolute;
        top: 190px;
        left: 761px;
        color: var(--bg-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // align-items: center;


        h2 {
            font-family: '3dumb';
            font-size: 90px;
        }

        p {
            padding-bottom: 10px;
            width: 360px;
        }
    }
}


// home recipies
#recipies {
    position: relative;
    margin-top: 80px;

    h2 {
        padding-bottom: 50px;
    }
}

// tabspro
.pro-tabs.recipies {

    .content {
        .card {
            background: #F7F5E8;
            border-radius: 7px;
            box-shadow: none;
        }

        .card-inner{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            .card-title{
                font-weight: 900;
            }
            p{
                font-weight: 400;
            }
        }

      
    }

    .one.content.active-content{
        width: 100%;
        padding-left: 500px;
        overflow-x: scroll;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding-left: 135px;
       

        &::-webkit-scrollbar{
            display: none;
        }

        .card{
            width: 350px;
            grid-row: 1;
            padding: 10px 20px;
        }

        .card-title{
            width: 200px;
        }

        img{
            width: 40%;
            margin: 0 auto;
        }

    }

}

// tabs
.bloc-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 30px;
    font-weight: 800;
    color: #261b6c5f;
    border-bottom: 1px solid #261B6C;

    .tabs {
        cursor: pointer;
    }

    .tabs.active-tabs {
        color: var(--pri-color);
        font-weight: 800;
        border-bottom: 3px solid var(--accent-brown);
        font-family: 'Montserrat' sans-serif;
    }
}


.card-title {
    margin-top: 20px;
    font-weight: 900;
    font-size: 28px;
}

.recipies {


    .content-tabs {
        width: 100vw;
        margin-top: 100px;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .content.active-content {
        display: flex;
    }

    .content {
        width: 100%;
        display: none;
        justify-content: center;
        gap: 30px;
        margin-bottom: 150px;


        .card {
            border: none;
            width: 28%;
            background: #FFFFFF;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            font-weight: 800;
            color: #261B6C;
            text-align: start;




            .card-content {
                span {
                    color: #C6A460;
                    padding-left: 20px;

                }
            }

            .card-contenttwo {
                background-color: #C6A460;
                border-radius: 50%;
                height: 50px;
                width: 50px;
                padding: 13px 10px;

                img {
                    width: 30px;
                }

            }

            .card-inner {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    // .active-content {
    //     display: block;
    //     display: flex;
    // }

}

// home notification section
.notification {
    background-color: var(--accent-brown);
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 7px;
    height: 45%;

    .notify-content {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        bottom: 0;

        .infor {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;
            position: relative;
            left: 40px;
        }

        h2 {
            text-align: start;
        }

        form {
            text-align: center;

            input {
                border: none;
                font-weight: 800;
            }

            .email {
                position: absolute;
                padding: 18px;
                width: 400px;
                background: #C6A460;
                // border: none;
                font-size: 18px;
                // font-weight: 800;
            }

            .submit {
                text-align: center;
                position: relative;
                left: 255px;
                top: 10px;
                font-size: 20px;
                width: 129px;
                // font-weight: 800;
                // border: none;
                background-color: #261B6C;
                padding: 5px;
            }
        }
    }

    .image-container {
        display: flex;
        gap: 10px;
        justify-content: center;
        width: 100%;
        object-fit: contain;


        img {
            width: 23%;
        }

    }

}


// footer
.footer {
    margin-top: 100px;
    background-color: var(--pri-color);
    color: var(--bg-color);
    padding-top: 10px;


    .bakers-logo {
        position: relative;
        top: 7px;

        img {
            width: 8%;
        }
    }


    .line {
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        gap: 150px;
        justify-content: center;

        div {
            display: block;
            border-bottom: 2px solid #fff;
            width: 510px;
        }
    }

    .footer-content {
        text-align: start;
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 50px;
        padding-bottom: 50px;


        .instagram-content {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;

            .image {
                display: flex;
                gap: 10px;
                width: 20%;

                img {
                    width: 100%;
                }
            }
        }

        .getin-touch {
            .content {
                display: flex;
                gap: 10px;

                img {

                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    h3 {
        font-size: 25px;
        font-weight: 800;
        padding-bottom: 10px;
    }

    .footer-inner {
        padding-top: 50px;
        padding-bottom: 20px;
        border-top: 2px solid #fff;
        width: 81%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 400px;

        .inner-con {
            display: flex;
            align-items: end;
            gap: 5px;


            img {
                width: 30%;
                position: relative;
                top: -18px;
                left: 2px;
            }
        }

        .copyright {
            span {
                color: #C6A460;
                font-weight: 750;
            }
        }
    }

}


// ABOUT SECTION
// about hero section
.about-hero {
    margin-top: 50px;

    .image {
        max-width: 1280px;
        margin: 0 auto;
        position: relative;
        right: 0;
        left: 0;

        img {
            width: 100%;
        }

        .text {
            position: absolute;
            bottom: 10px;
            background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
            width: 100%;
            height: 134px;
            border-radius: 5px;
            bottom: -5px;
            color: var(--bg-color);
            display: flex;
            justify-content: center;
            align-items: center;



            h2 {
                font-weight: 800;
                text-align: start;
                font-size: 45px;
            }

            p {
                margin-top: 80px;
                margin-left: 993px;
            }

            img {
                width: 25px;
            }
        }
    }
}

// about about section
#about-about {
    background-color: #F7F5E8;
    max-width: 1280px;
    margin: 0 auto;


    .about-about {
        margin-top: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
    }

    .mission {
        color: var(--pri-color);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 95px;
        text-align: start;
        gap: 46px;





        .image {
            background-color: var(--accent-brown);
            border-radius: 50%;
            padding: 20px;
            text-align: center;


            img {
                width: 100%;
            }
        }
    }

    .one {
        padding: 25px;
    }
}

// aboutservices section
#about-services {
    background-color: var(--accent-cream);
    margin-top: 180px;

    .about-services {
        padding-bottom: 100px;
        padding-top: 80px;
        max-width: 1280px;
        margin: 0 auto;
        color: var(--pri-color);
        text-align: center;
    }

    h3 {
        padding-top: 30px;
        font-weight: 800;
    }

    .about-inner {
        display: flex;
        padding-top: 50px;
        justify-content: center;
        align-items: start;
        gap: 40px;

        p {
            width: 270px;
        }

        img {
            width: 400px;
        }
    }

    .about-innertwo {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        gap: 40px;

        p {
            width: 285px;
        }

        img {
            width: 400px;
        }

    }

    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

// about ceo
#ceo-info {
    margin-top: 80px;

    .ceo-info {
        color: var(--pri-color);
        display: flex;
        max-width: 1280px;
        margin: 0 auto;
        text-align: start;
        justify-content: center;
        align-items: center;
        gap: 60px;

        .image {
            img {
                width: 600px;
            }
        }
    }
}

// PRODUCT SECTION
// products about

.product-hero {
    .image {
        .text {
            p {
                margin-left: 791px;
            }
        }
    }
}

.products-about {

    margin-top: 80px;

    h2 {
        padding-bottom: 50px;
    }
}

// RECIPE SECTION
.recipe-hero {
    padding-top: 50px;
    padding-bottom: 100px;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;

    .recipe-slider {
        width: 50%;
        color: #261B6C;
        display: flex;
        justify-content: start;
        gap: 109px;



        .innercon {
            display: flex;
            align-items: center;
            gap: 5px;
            color: #C6A460;

            img {
                width: 20px;
                margin-top: -19px;
            }

        }

        .recipe-sliderinner {
            text-align: start;
            // padding: 80px;

            h2 {
                font-size: 55px;
                width: 536px;
            }
        }
    }

    .slider-content {
        width: 50%;
        display: flex;
        text-align: start;
        gap: 20px;

        .slider-inner {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-right: -65px;

            img {
                width: 100%;
            }
        }
    }

    .slider-image {
        width: 80%;
        object-fit: contain;
        position: relative;

        .overlay {
            position: absolute;
            width: 258px;
            height: 278px;
            background-color: #000000;
            opacity: 0.5;
            // bottom: 1px;
            top: 0;
            border-radius: 5px;
        }
    }

    .one {
        .overlay {
            width: 273px;
            height: 300px;
        }
    }
}

// KIDS SECTION
// kids hero
.kids-hero {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pri-color);

    .heading {
        position: relative;
        left: 74px;

        .text {
            text-align: start;
        }

        p {
            font-family: "3dumb";
            font-size: 126.9px;
            line-height: 112px;
        }

        .text-inner {
            position: absolute;
            bottom: 167px;
            left: 9px;

            img {
                width: 208px;
            }
        }
    }

    .images-container {
        display: flex;
        align-items: end;
        justify-content: end;
        margin-top: -105px;
        width: 979px;

        .img-one {
            position: relative;
            left: 166px;

            img {
                width: 406px;
            }
        }

        .img-two {
            img {
                width: 675px;
            }
        }

    }


}

// kids games
.kids-games {

    max-width: 1280px;
    margin: 0 auto;



    .games {
        text-align: start;
        width: 100%;
        margin-top: 50px;
        color: #fff;
        height: 70vh;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .game-one {

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        padding: 35px;

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            text-align: start;

            h1 {
                font-weight: 800;
            }

            p {
                width: 371px;
                font-weight: 750;
            }


        }

        .mazegame{
            padding: 45px;
        }

    }

    .g-one {
        background-color: #018BF1;

        img {
            width: 100%;
        }

    }

    .g-two {
        display: flex;
        background-color: #FF4655;


        img {
            width: 350px;
        }

        .btn {
            background-color: #fff;
            color: #FF4655;
        }


        .riskyway-game {
            display: flex;
            align-items: center;
            justify-content: center;

            .img-one {
                position: relative;
                left: 160px;
            }

            .img-two {
                position: relative;
                top: -106px;
                right: 49px;
            }
        }

    }

    .g-three {
        display: flex;
        background-color: var(--pri-color);

        img {
            width: 90%;
        }

    }

}

// CONTACT SECTION
#contact {
    margin-top: 50px;
}

.contact {

    .contact-hero {
        max-width: 1280px;
        margin: 0 auto;
        position: relative;
        right: 0;
        left: 0;

        img {
            width: 100%;
        }

        .text {
            position: absolute;
            bottom: 10px;
            background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
            width: 100%;
            height: 134px;
            border-radius: 5px;
            bottom: -5px;
            color: var(--bg-color);
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                font-weight: 800;
                text-align: start;
                font-size: 45px;
            }

            p {
                margin-top: 80px;
                margin-left: 985px;
            }

            img {
                width: 25px;
            }
        }
    }

    .about-content {
        max-width: 1280px;
        margin: 0 auto;
        margin-top: 150px;
        background-color: #F7F5E8;
        border-radius: 7px;
        display: flex;
        gap: 100px;
        padding: 100px;
        color: var(--pri-color);

        img {
            width: 100%;
        }

        .content {
            text-align: start;

            .img-text {
                margin-top: 30px;

                h1 {
                    font-weight: 800;
                }

                span {
                    font-weight: 600;
                    color: #261b6cce;
                }
            }
        }
    }

    .list-depots {
        margin-top: 150px;


        .content {
            text-align: start;
            display: flex;
            justify-content: center;
            gap: 80px;
            color: var(--pri-color);
            margin-top: 100px;


            h3 {
                margin-top: 30px;
            padding-bottom: 20px;
                font-weight: 750;
                opacity: 0.8;
                border-bottom: 1px solid #F7F5E8;
                ;
            }

            p{
                font-weight: 750;
                opacity: 0.8;
                padding-top: 20px;
            }

            .address{
                p{
                    font-weight: 400;
                }
            }


            .number {
                border-left: 1px solid#F7F5E8;
                padding-left: 20px;
               
            }

            .deport {
                border-right: 1px solid#F7F5E8;
                padding-right: 20px;
                
            }
        }



    }

    .enquiries {
        margin-top: 150px;
        background-color: #F8F8F8;


        .enquiries-inner {
            padding-top: 50px;
            max-width: 1280px;
            margin: 0 auto;
        }

        img {
            width: 100%;
        }

        .infor {
            color: var(--pri-color);
            margin-top: 50px;
            padding-bottom: 50px;
            display: flex;
            justify-content: center;
            gap: 450px;

            p {
                span {
                    border-bottom: 1px solid var(--pri-color);
                    font-weight: 400;
                }
                font-weight: 800;
                text-align: start;
                
            }
        }
    }

    .request {
        margin-top: 150px;
        color: var(--pri-color);

        h2 {
            padding-bottom: 10px;
        }
    }
}


// Modal

.modal{
    background: #C6A460;
}
.modal-content{
    color: var(--pri-color);
    width: 76vw;
    height: 680px;
    margin-top: 120px;
    transform: translateX(-28%);
    border: none;
    border-radius: 0;
}

.btn-primary{
    border: none;

    &:hover{
        background: none;
        color: #000000;
    }
}

.modal-header{
    border: none;
}

.modal-title{
    margin-left: 360px;
    font-size: 39px;
    // color: var(--pri-color);
    /* font-family: 'Montserrat'; */
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: -20px;
}

.content{
    .button{

    border: none;
    width: 968px;
    margin-left: 65px;
    
    &:hover{
        background: none;
        color: #000000;
    }
    }
}

.factory-content{

    .contact-form{
        width: 100%;
        margin: 0 auto;

        form{
            width: 70vw;
            margin: 0 auto;
             
              input{
                  font-size: 17px;
                  font-family: "Avenir LT Std";
                  border: none;
                  padding: 10px;
                  width: 470px;
                  background: #F7F5E8;
                  color: #000000;
                  opacity: 0.5;
                  margin-top: 15px;
                  margin-left: 26px;
                  font-weight: 750;
              }
      
              .range{
                  width: 968px;
              }
          }
    }
   

    .rules{
        margin-top: 26px;
    }

    .terms{
        display: flex;
        justify-content: center;
        gap: 30px;

        p{
            span{
                font-weight: 700;
                border-bottom: 1px solid var(--pri-color);
            }
        }
    }

    .conditions{
        width: 930px;
        margin-left: 57px;
         form{
            display: flex;
            flex-direction: column;
            // justify-content: start;
            align-items: start;
            gap: 10px;

         }

         .checkbox{
            display: flex;
            align-items: start;
            gap: 20px;
         }
    }
}

   




