@import url('https://fonts.cdnfonts.com/css/avenir-lt-std');
@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/3dumb');
@import 'main';


:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color:var(--pri-color);
  background-color:var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-color:#fff;
  --pri-color:#261B6C;
  --sec-color:#fff;
  --accent-brown:#b2904c;
  --accent-red:#ff4655;
  --accent-blue: #0188f1;
  --accent-cream: #F8F8F8;
}


body {
overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Avenir LT Std', sans-serif;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  font-family: 'Avenir LT Std';
}

.about, .products, .tour-don, .notification, .about-hero, .about-about, .about-services{
  h2{
    font-size: 38px;
    color: var(--pri-color);
    font-weight: 800;

  }
}

.notification, .about-hero{
  h2{
    color: #fff;
  }
}
